@charset "utf-8";
@import url("common.css");
@import url("main.css");
@import url("sub.css");
@import url("popup.css");
@import url("map.css");
@import url("includes.css");
/* @import url("accessible.css"); */

  .totalMenu:link {
        color: white;
    }
    .totalMenu:hover {
        color: white;
    }
    .totalMenu:visited {
        color: white;
    }
    a {
        text-decoration: none;
    }